<div class="mt-4" style="margin: 50px 100px;">
  <h1 class="tieu-de" style="text-align: center;">Thêm món ăn cho nhà hàng</h1>
  <form method="POST" action="/foods/store">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Tên món ăn">
    </div>

    <div class="form-group">
        <label for="type_dish-input">Loại món ăn</label>
        <select name="type" id="type_dish-input" style="height: 37px; width: 140px">
            <option value="">--Loại món ăn--</option>
            <option value="Pizza">Pizza</option>
            <option value="Khai vị">Khai vị</option>
            <option value="Mỳ Ý">Mỳ Ý</option>
            <option value="Salad">Salad</option>
            <option value="Tráng miệng">Tráng miệng</option>
            <option value="Thức uống">Thức uống</option>
        </select>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" class="form-control" id="description" name="description" placeholder="Mô tả ngắn về món ăn"></textarea>
    </div>

    <div class="form-group">
      <label for="price">Price(VND)</label>
      <input type="text" class="form-control" id="price" name="price" placeholder="Giá bán">
    </div>

    <div class="form-group">
        <label class="info__label" for="image">Hình ảnh món ăn</label>
        <input type="file" name="image" class="filepond"/>
    </div>
    <button type="submit" class="btn btn-dark">Thêm món ăn</button>
  </form>
</div>