<div class="mt-4 container">
  <h3 class="tieu-de">Thêm món ăn cho nhà hàng</h3>
  <form method="POST" action="/foods/store">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" class="form-control" id="description" name="description" placeholder="Mô tả ngắn về món ăn"></textarea>
    </div>

    <div class="form-group">
      <label for="price">Price(VND)</label>
      <input type="text" class="form-control" id="price" name="price">
    </div>
    <button type="submit" class="btn btn-dark">Thêm món ăn</button>
  </form>
</div>