body {
  background-color: white; }

.test {
  font-size: 1rem;
  background-color: black;
  width: 100px; }

h1 {
  color: black; }

h2 {
  color: black; }


.form-group {
  color: black; }

.card-course-item {
  margin-top: 16px; }

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px; }

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Height of the footer */ }

.checkbox-select-all-options {
  width: 180px;
  margin: 0 16px; }

  html,body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    background-repeat: no-repeat;
}
.heading {
    /* width: 100%; */
    /* background-image: linear-gradient(0,rgba(#F08080),rgba(#ADFF2F)); */
    /* background-color: #F08080; */
    /* height: 100px; */
    display: flex;
}

.heading1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 80px;
    height: auto;
    margin-right: 32px;
    border-radius: 50%;
}
.logo-img2 {
    font-size: 2.5rem;
    color:  #d80000;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}

.head {
    width: 100%;
}
.nav-item {
    color: #333;
    list-style: none;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
}
.nav-list {
    margin-right: 80px;
}
.menu-all {
    background-color: rgb(187, 41, 41);
    display: flex;
}
.menu {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.heading-list {
    display: flex;
}

.heading-item-list{
    text-decoration: none;
    color : white;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 2.5rem;
    font-weight: 550;
}
.heading-item-list:first-child {
    margin-left: 5rem;
}
.heading-item-list:last-child {
    margin-right: 27rem;
}
.heading-item-list:hover {
    color:chocolate;
    text-decoration: none;
}

.gio-hang {
    color : white;
    font-size: 1rem;
    text-decoration: none;
    margin-right: 3rem;
}
.gio-hang:hover {
    color: chocolate;
    text-decoration: none;
}
.list-stored {
    color: #333;
}
.input-group {
    max-width: 300px;
    display: flex;
    align-items: center;
}
.account-edit {
    color: #333;
}
.account-edit::hover {
    color: chocolate;
}

/* ------------------------------------------ */

.lich-su-don-hang {
    padding-top:50px;
    /* margin-top:50px; */
    color: #B22222;
    font-weight: bold;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width:1800px;
}
.container2 {
    max-width:1500px;
    margin: 32px auto 32px auto;
}

.upload-img {
    position: relative;
    overflow: hidden;
    padding-right: 20px;
}
.upload-img2 {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.upload-img4 {
    font-size: 20px;
}

.form-add-1 {
    background-color: rgba(255, 255, 255,0.3);
    padding: 20px;
    border: 3px dashed #FF6347;
    border-radius:20px;
    margin-bottom: 50px;
}

.them-mon-an-btn {
    display: flex;
    justify-content: center;
}
.btn-info {
    padding: 15px;
    border: 2px dashed #000;
    font-size: 20px;
}
.upload-img-border {
    background-color: rgba(255, 255, 255,0.3);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items:center;
    border: 2px dashed #000;
    border-radius: 5%;
}

.tieu-de{
    margin: 40px auto 20px auto;
    color: #d80000;
    font-size: 30px;
}

.form-group {
    width: 100%;
}

.info__label {
    display: block;
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}