<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2a2928;">
  <div class="container">
    <a href="/">
      <img src="https://i.pinimg.com/564x/8a/43/c1/8a43c1b813c163eac6449f5b7201e5c0.jpg" alt="" class="logo">
    </a>
    <a class="navbar-brand" href="/">Tran Nhat Huy's blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Video <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Blog <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://scontent.fsgn8-2.fna.fbcdn.net/v/t1.6435-9/242601094_1808589199529839_4623102796165121795_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=LAEcJ9iyE7cAX9wtSeN&_nc_ht=scontent.fsgn8-2.fna&oh=09d41c5c960e8b5d33f9030d67afa85a&oe=61A16A19" alt="" class="user-avatar">
            Huy Tran
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Upload video</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">My video</a>
            <a class="dropdown-item" href="/me/stored/courses">My status</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/">Logout</a>
          </div>
        </li>

      </ul>
      
    </div>
  </div>
</nav>