<nav class="heading navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <div class="heading1">
      <a href="/">
        <img src="https://i.pinimg.com/564x/e6/c4/7c/e6c47ce6173c5044b2bcf9a497c1dc67.jpg" alt="PizzaKingLogo" class="logo-img">
      </a>
      <h1 class="logo-img2">PizzaKing.vn</h1>
    </div>
    
    {{#if (isMatch user.permission "Admin")}}
      <li class="header__navbar-item">
        <a href="" class="header__navbar-item-link">
              <img src="/images/star_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
              Admin
        </a>
        <ul class="header__subnav-list">
          <li class="header__subnav-item">
            <a href="/admin" class="header__subnav-link">Thông tin người dùng</a>
          </li>
          <li class="header__subnav-item header__subnav-item">
            <a href="/admin/createManager" class="header__subnav-link">Thêm quản lý</a>
          </li>
          
          <li class="header__subnav-item header__subnav-item">
            <a href="/user/logout" class="header__subnav-link">Đăng xuất</a>
          </li>
        </ul>
      </li>
    {{/if}}

    {{#if (isMatch user.permission "Manager")}}
      <li class="header__navbar-item">
        <a href="" class="header__navbar-item-link">
              <img src="/images/star_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
              {{user.name}}
        </a>
        <ul class="header__subnav-list">
          <li class="header__subnav-item">
            <a href="#" class="header__subnav-link">Thông tin doanh thu</a>
          </li>
          <li class="header__subnav-item header__subnav-item">
            <a href="/manager/create" class="header__subnav-link">Thêm món ăn</a>
          </li>
          <li class="header__subnav-item header__subnav-item">
            <a href="/manager/stored/foods" class="header__subnav-link">Quản lý món ăn</a>
          </li>
          <li class="header__subnav-item header__subnav-item">
            <a href="/manager/vieworders" class="header__subnav-link">Xem đơn đặt món ăn</a>
          </li>
          
          <li class="header__subnav-item header__subnav-item">
            <a href="/user/logout" class="header__subnav-link">Đăng xuất</a>
          </li>
        </ul>
      </li>
    {{/if}}

    {{#if (isMatch user.permission "Customer")}}
      <li class="header__navbar-item">
        <a href="#" class="header__navbar-item-link">
              <img src="http://simpleicon.com/wp-content/uploads/account.png" id="profileImage" width="30" height="30" class="d-inline-block align-top" alt="">
              {{user.name}}
        </a>
        <ul class="header__subnav-list">
          <li class="header__subnav-item">
            <a href="/user" class="header__subnav-link">My Info</a>
          </li>
          <li class="header__subnav-item header__subnav-item">
            <a href="/user/ordered" class="header__subnav-link">Order History</a>
          </li>
          <li class="header__subnav-item header__subnav-item">
            <a href="/user/logout" class="header__subnav-link">Logout</a>
          </li>
        </ul>
      </li>
    {{/if}}

    {{#unless user}}
      <li class="header__navbar-item">
        <a href="/loginpage" class="header__navbar-item-link">Login</a>
        <a href="/register" class="header__navbar-item-link">Register</a>
        {{!-- <ul class="header__subnav-list">
          <li class="header__subnav-item">
            <a href="/loginpage" class="header__subnav-link">Sign in</a>
          </li>
          <li class="header__subnav-item header__subnav-item">
            <a href="/register" class="header__subnav-link">Register</a>
          </li>
        </ul> --}}
      </li>
    {{/unless}}
  </div>
</nav>

<nav class="menu-all navbar navbar-expand-lg navbar-dark">
  <div class="container menu">
    <div class="heading-list-1">
      <a class="heading-item-list" onclick="if(window.location.pathname == '/') window.scrollTo({ top: 0, behavior: 'smooth' }); else window.location.href='/'" href="">Home</a>
      <a class="heading-item-list" onclick="if(window.location.pathname == '/') scroll_to('pizza-list-view'); else window.location.href='/#pizza-list-view'">Pizza</a>
      <a class="heading-item-list" onclick="if(window.location.pathname == '/') scroll_to('khaivi-list-view'); else window.location.href='/#khaivi-list-view'">Khai vị</a>
      <a class="heading-item-list" onclick="if(window.location.pathname == '/') scroll_to('myy-list-view'); else window.location.href='/#myy-list-view'">Mì Ý</a>
      <a class="heading-item-list" onclick="if(window.location.pathname == '/') scroll_to('salad-list-view'); else window.location.href='/#salad-list-view'">Salad</a>
      <a class="heading-item-list" onclick="if(window.location.pathname == '/') scroll_to('trangmieng-list-view'); else window.location.href='/#trangmieng-list-view'">Tráng miệng</a>
      <a class="heading-item-list" onclick="if(window.location.pathname == '/') scroll_to('thucuong-list-view'); else window.location.href='/#thucuong-list-view'">Thức uống</a>
    </div>
    <div class="">
      <a href="" class="gio-hang cart-icon" onmouseover="show_cart()" onmouseleave="close_cart()">
        Giỏ hàng(0)
      </a>
    </div>
  </div>
</nav>

<!-- Cart test -->
  <section class="container content-section">
      <div id="cartshow" onmouseover="show_cart()" onmouseleave="close_cart()" style="display: none;">
          <h2 class="section-header">Giỏ hàng</h2>
          <div class="cart-row">
              <span class="cart-item cart-header cart-column">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sản phẩm</span>
              <span class="cart-price cart-header cart-column">Giá</span>
              <span class="cart-quantity cart-header cart-column">Số lượng</span>
          </div>
          <div class="cart-items">
          </div>
          <div class="cart-total">
              <strong class="cart-total-title">Tổng cộng:</strong>
              <span class="cart-total-price">0đ</span>
          </div>
          {{!-- <button id="remove-all-btn" class="btn btn-primary btn-purchase" type="button">Xóa tất cả</button> --}}
          <button id="payment-btn" class="btn btn-primary btn-purchase" type="button">Thanh toán ngay</button>
      </div>
  </section>
    <!-- End cart test -->

    <form method="POST" name="payment-form" action="/user/payment">
        <input type="hidden" id="cart" name="cart">
        </form> 