<nav class="heading navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <div class="heading1">
      <img src="https://i.pinimg.com/564x/e6/c4/7c/e6c47ce6173c5044b2bcf9a497c1dc67.jpg" alt="PizzaKingLogo" class="logo-img">
      <h1 class="logo-img2">PizzaKing.vn</h1>
    </div>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle account-edit" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="oi oi-person"></span>
        Admin
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">My profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/foods/create">Add food</a>
        <a class="dropdown-item" href="/me/stored/foods">Food List</a>
        <a class="dropdown-item" href="#">Ordered Management</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Log Out</a>
      </div>
    </div>
  </div>
</nav>

<nav class="menu-all navbar navbar-expand-lg navbar-dark">
  <div class="container menu">
    <div class="heading-list-1">
      <a class="heading-item-list" onclick="if(window.location.pathname == '/') window.scrollTo({ top: 0, behavior: 'smooth' }); else window.location.href='/'">Home</a>
      <a class="heading-item-list" href="">Pizza</a>
      <a class="heading-item-list" href="">Khai vị</a>
      <a class="heading-item-list" href="">Mì Ý</a>
      <a class="heading-item-list" href="">Salad</a>
      <a class="heading-item-list" href="">Tráng miệng</a>
      <a class="heading-item-list" href="">Thức uống</a>
    </div>
    <div class="">
      <a href="" class="gio-hang cart-icon" onmouseover="show_cart()" onmouseleave="close_cart()">
        Giỏ hàng(0)
      </a>
    </div>
  </div>
</nav>

<!-- Cart test -->
  <section class="container content-section">
      <div id="cartshow" onmouseover="show_cart()" onmouseleave="close_cart()" style="display: none;">
          <h2 class="section-header">Giỏ hàng</h2>
          <div class="cart-row">
              <span class="cart-item cart-header cart-column">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sản phẩm</span>
              <span class="cart-price cart-header cart-column">Giá</span>
              <span class="cart-quantity cart-header cart-column">Số lượng</span>
          </div>
          <div class="cart-items">
          </div>
          <div class="cart-total">
              <strong class="cart-total-title">Tổng cộng:</strong>
              <span class="cart-total-price">0đ</span>
          </div>
          <button id="payment-btn" class="btn btn-primary btn-purchase" type="button">Thanh toán ngay</button>
      </div>
  </section>
    <!-- End cart test -->

    <form method="POST" name="payment-form" action="/user/payment">
        <input type="hidden" id="cart" name="cart">
        </form> 