
    <div class="container">
        <div class="row">
            <div class="col-sm-3 menu-left">
                <div class="option_admin">
                    <div class="option_admin_title">
                        <span>Tùy chọn</span>
                        <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="option_admin_manage option_select ">
                        <i class="bi bi-person-circle"></i>
                        <a href="/manage">Quản lí khách hàng</a>

                    </div>
                    <div class="option_admin_comment option_select ">
                        <i class="bi bi-chat-dots"></i>
                        <a href="/manage/feedback">Feedback</a>
                    </div>
                    <div class="option_admin_comment option_select option_selected">
                        <i class="bi bi-exclamation-circle"></i>
                        <a href="/manage/note">Chú ý</a>
                    </div>
                </div>

            </div>
            <div class="col-sm-9 menu-right">
                <div class="admin_detail">
                    <div class="admin_detail_title">
                        Chú ý
                    </div>
                    <div class="admin_detail_content">
                        <div class="admin_detail_note">
                            <p>Với những admin chuyên chăm sóc mảng website, công việc một ngày của họ thường sẽ phải
                                làm những nhiệm vụ như:

                                <br> Quản lí, tạo lập tài khoản người dùng: Tùy vào quy mô hoạt động của doanh nghiệp,
                                các quản trị viên website sẽ trực tiếp tạo lập tài khoản, quản lí tài khoản người dùng.
                                Cũng như là quản lí lượt người truy cập nhằm phát hiện, ngăn chặn các hành vi có hại cho
                                website
                                <br> Theo dõi, bảo mật website: Các admin website thường phải theo dõi lượng truy cập
                                của web trong từng ngày, từng giờ. Đồng thời sử dụng các phần mềm hỗ trợ để phát hiện và
                                khắc phục các sự cố của website một các nhanh chóng
                                <br> Cấu hình, quản lí các công cụ trực tuyến khác nhau: Các admin website của lĩnh vực
                                nào thì cũng cần phải đảm nhận công việc quản lí, cấu hình các công cụ cần thiết nhằm
                                phân tích rõ lưu lượng đăng nhập, lượt tương tác với web từ phía người dùng. Đặc biệt, ở
                                nhiều công ty lớn, các quản trị viên web còn tự mình tạo dựng các chương trình để tự
                                động phân tích những yếu tố này.
                            </p>
                        </div>
                        <div class="show_quantity">
                            <div class="show_quantity_item" style="margin-bottom: 15px;">
                                Email: baodangvui@gmail.com
                            </div>
                            <div class="show_quantity_page">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
