<h1>FEEDBACK</h1>

<div class="row">    
      <div class="col-75">    
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>    
      </div>    
    </div>    
    <div class="row">    
      <button type="submit">    
    </div>    